.titleDiv{
	border-bottom: 2px solid #cccccc;
	margin-bottom: 10px;
}
h3{
	font-weight: bold;
	line-height: 1.3em;
}
table{
	text-align: center;
	vertical-align: middle;
}
thead tr{
	font-weight: bold;
}
table td{
	height: 50px;
	vertical-align: middle;
}
.bookTable{
	width: 100%;
	text-align: center;
	vertical-align: middle;
	/* font-size: 15px; */
}
/* 한줄에 나오게 하기 */
.item, .name{
	overflow: hidden; 
	text-overflow: ellipsis; 
	word-wrap: break-word; 
	display: -webkit-box; 
	-webkit-line-clamp: 1; /* n */ 
	-webkit-box-orient: vertical;
}