.titleDiv{
	border-bottom: 2px solid #cccccc;
	margin-bottom: 10px;
}
h3{
	font-weight: bold;
	line-height: 1.3em;
}
.imageDiv{
	border: 1px solid black;
	padding: 1.3rem;
}
.btn{
	width: 200px;
	letter-spacing: 2px;
	float: right;
}