.titleDiv{
	border-bottom: 2px solid #cccccc;
	margin-bottom: 10px;
}
h3{
	font-weight: bold;
	line-height: 1.3em;
}
.table{
	text-align: center;
}

.table td:nth-child(1){
	width: 6.2%;	
}
.table td:nth-child(2){
	width: 6.2%;	
}
.table td:nth-child(3){
	width: 14.2%;	
}
.table td:nth-child(4){
	width: 32.0%;	
}
.table td:nth-child(5){
	width: 10.2%;	
}
.table td:nth-child(6){
	width: 12.2%;	
}
.table td:nth-child(7){
	width: 10.2%;	
}
.table td:nth-child(8){
	width: 8.2%;	
}

input[type="number"]{
	text-align: center;
}
thead{
	font-weight: bold;
}
tbody tr{
	height: 150px;
	vertical-align: middle;
}
tfoot{
	height: 50px;	
}

.btnDiv{
	display: flex;
	justify-content: flex-end;
	margin: 30px 0 30px 0;
}
.btns{
	margin: 7px;
}