.itemListDiv{
	border: 1px solid black;
	border-color: #838999;
	border-radius: 15px;
	height: 330px;
	padding: 30px;
	margin-bottom: 30px;
}
.titleDiv{
	border-bottom: 2px solid #cccccc;
	margin-bottom: 40px;
}
h3{
	font-weight: bold;
	line-height: 1.3em;
}
/* 글자 수 n번째 줄 까지만 나오게 하기  */
.detailDiv{
	overflow: hidden; 
	text-overflow: ellipsis; 
	word-wrap: break-word; 
	display: -webkit-box; 
	-webkit-line-clamp: 2; /* n */ 
	-webkit-box-orient: vertical;
	
	margin-bottom: 10px;
}

/* 썸네일 커지는 효과 */
.card-img-top:hover{
	cursor: pointer;
	transform: scale(1.05); 
	transition: all 0.3s;
}
/* 썸네일 커질 때 이미지 안넘어가게 하기 */
.card-imageDiv{
	overflow: hidden;
}

@keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
        to {
            opacity: 1;
            transform: translateZ(0);
        }
}
 
.itemListDiv {
    position: relative;
    animation: fadeInUp 0.8s;
}